[package]
name = "crush"
version = "0.1.0"
edition = "2021"

[dependencies]
bytes = { workspace = true }
denc = { path = "../denc" }
serde = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
anyhow = { workspace = true }
